{% extends 'base.html' %}

{% block content %}

<h2>
    <a href="{% url 'disease_remove' object.slug %}" >
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
    </a>
    <a href="{% url 'disease_edit' object.slug %}" >
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
    Krankheitsmuster - {{ object.name }}
</h2>


<h3>Symptome</h3>

<ul>
{% for symptom in object.symptoms.all|dictsort:"localisation" %}
<li>
<a href="{% url 'symptom_detail' symptom.slug %}">
    {{ symptom.localisation }}: {{ symptom.indication }}</a>
</li>
{% endfor %}
</ul>



<h3>Manifestation</h3>

<p>{{ object.manifestation }}</p>


<h3>Pathologie</h3>

<p>{{ object.pathologie }}<p/>

<h3>Ätiologien</h3>

<ul>
{% for etiologie in object.etiologie.all|dictsort:"name" %}
<li>{{ etiologie.name }}</li>
{% endfor %}
</ul>

<h3>Therapien</h3>

<ul>
{% for therapy in object.therapy.all|dictsort:"name" %}
<li>{{ therapy.name }}</li>
{% endfor %}
</ul>

{% endblock content %}
