{% extends "base.html" %}

{% block content %}

<h2>
<a href="{% url 'etiologie_add' %}" >
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</a>
  Etiologien
</h2>

<input id="search" name="search" placeholder="Suche" type="text" data-list=".list">
<ul class="list">
{% for etiologie in object_list %}
<li><a href="{% url 'etiologie_detail' etiologie.slug %}">{{ etiologie.name }}</a></li>
{% endfor %}
</ul>

{% endblock content %}

{% block footer_script %}{{ block.super }}
{% include 'django_chinese_medicine/hideseek.html' %}
{% endblock footer_script %}
