{% extends "base.html" %}

{% block content %}
<h2>
    <a href="{% url 'etiologie_remove' object.slug %}" >
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
    </a>
    <a href="{% url 'etiologie_edit' object.slug %}" >
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
    {{ object.name }}
</h2>

<h3>Beschreibung</h3>

{% if object.description %}
<p>{{ object.description }}</p>
{% else %}
Noch keine Beschreibung
{% endif %}
{% endblock content %}

