{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div>
    <h2>
    <a href="{% url 'symptom_add' %}" >
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
        <a href="{% url 'symptom_index' %}">Symptome</a>
    </h2>
<input id="search" name="search" placeholder="Suchen" type="text" data-list=".list">

    {% crispy formset %}
</div>
<div>
    <h2><a href="{% url 'disease_index' %}">Krankheitsmuster</a></h2>

    <ul>
    {% for disease in disease_list %}
        <li><a href="{% url 'disease_detail' disease.slug %}">{{ disease.name }}</a></li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}

{% block footer_script %}{{ block.super }}
  <script>
  $(document).ready(function() {
    $('.controls').addClass('list');
  });
  </script>
{% include 'django_chinese_medicine/hideseek.html' %}
{% endblock footer_script %}
