{% extends 'base.html' %}

{% block content %}

<h2>
    <a href="{% url 'symptom_remove' object.slug %}" >
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
    </a>
    <a href="{% url 'symptom_edit' object.slug %}" >
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
    Symptom - {{ object.localisation }}: {{ object.indication }}
</h2>


<h3>Zugehörige Krankheitsmuster</h3> 

<ul>
{% for diseasepattern in object.diseasepattern_set.all %}
<li><a href="{% url 'disease_detail' diseasepattern.slug %}">{{ diseasepattern.name }}</a></li>
{% endfor %}
</ul>

<h3>Beschreibung</h3>

<p>{{ object.description }}</p>

{% endblock content %}
