{% extends "base.html" %}

{% block content %}

<div>
    <h2>Befunde</h2>

    <ul>
    {% for symptom in object_list %}
    <li><a href="{% url 'symptom_detail' symptom.slug %}">
        {{ symptom.spot }}: {{ symptom.result }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h2>Krankheitsmuster</h2>

    <ul>
    {% for disease in disease_list %}
        <li><a href="{% url 'disease_detail' disease.slug %}">{{ disease.name }}</a></li>
    {% endfor %}
    </ul>
</div>
<div>
    <h2>Therapien</h2>
    <ul>
    {% for therapy in therapy_list %}
        <li><a href="{% url 'therapy_detail' therapy.slug %}">
            {{ therapy.name }}</a></li>
    {% endfor %}
    </ul>
</div>


{% endblock content %}
