{% extends "base.html" %}

{% block content %}

<h2>Symptome</h2>
<input id="search" name="search" placeholder="Suchen" type="text" data-list=".list">
<ul class="list">
{% for symptom in object_list %}
<li>
    <a href="{% url 'symptom_detail' symptom.slug %}">
    {{ symptom.localisation }}: {{ symptom.indication }}
    </a>
</li>
{% endfor %}
</ul>


{% endblock content %}

{% block footer_script %}{{ block.super }}
{% include 'django_chinese_medicine/hideseek.html' %}
{% endblock footer_script %}
