{% extends "base.html" %}

{% block content %}
<h2>
    <a href="{% url 'therapy_remove' object.slug %}" >
        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
    </a>
    <a href="{% url 'therapy_edit' object.slug %}" >
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
    Therapie - {{ object.name }}
</h2>

<p>Intention: {{ object.intension }}</p>

<h3>Beschreibung</h3>

{% if object.description %}
<p>{{ object.description }}</p>
{% else %}
Noch keine Beschreibung
{% endif %}

<h3>Krankheitsmuster</h3>

<ul>
{% for disease in object.diseasepattern_set.all|dictsort:"name" %}
<li><a href="{% url 'disease_detail' disease.slug %}">{{ disease.name }}</a></li>
{% endfor %}
</ul>
{% endblock content %}

